.et-button {
    background-color: #2D5295;
    border: #2D5295;
}

.carets-container {
    display: flex;
    justify-content: center;
    top: 4px;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.caret-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.table thead th {
    vertical-align: middle;
}

.table thead th div {
    position: relative;
}

#transacting-table-date-column {
    cursor: pointer;
    padding-bottom: 1rem;
}

#transacting-table-amount-column {
    cursor: pointer;
    padding-bottom: 1rem;
}

.back-to-safety {
    color: blue;
    cursor: pointer;
}

.react-datepicker-wrapper {
    margin-right: 1rem;
}

.fa-exclamation-circle {
    cursor: pointer;
}

.tooltip-message {
    position: absolute;
    z-index: 10;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    width: 10rem;
    right: 1rem;
    top: 1.5rem;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.fa-exclamation-circle:hover + .tooltip-message {
    opacity: 1;
}
