.side-navbar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0B2D65;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.side-navbar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    padding-top: 0.8rem;
    color: #D3D8DE;
    font-weight: 500;
}

.side-navbar-link:hover {
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #2D5295;
    border-radius: 5px;
}

.selected-link {
    background-color: #2D5295;
    border-radius: 5px;
}

hr {
    margin: 0;
    border-bottom: 1px solid #D3D8DE;
    width: 90%;
}
