.profile-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: #f2f3f5;
    grid-gap: 0.8rem;
    min-height: 100vh;
}

.profile-grid .page-header{
    grid-column: 2/10;
    grid-row: 1/2;
}

.username-card {
    grid-column: 2/6;
    grid-row: 2/4;
}

.email-card {
    grid-column: 6/10;
    grid-row: 2/4;
    margin-right: 0.8rem;
}

.profile-card-title {
    position: relative
}

.profile-card-content {
    text-align: center;
    overflow-wrap: anywhere;
}

.edit-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 768px){

    .profile-grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 3rem 6rem repeat(7, 1fr);
        background-color: #f2f3f5;
        grid-gap: 0.8rem;
        min-height: 100vh;
    }

    .profile-grid .page-header{
        grid-column: 1/10;
        grid-row: 2/3;
    }

    .username-card {
        grid-column: 1/10;
        grid-row: 3/5;
        margin-right: 0.8rem;
        margin-left: 0.8rem;
    }

    .email-card {
        grid-column: 1/10;
        grid-row: 5/7;
        margin-right: 0.8rem;
        margin-left: 0.8rem;
    }
}
